/OktaIntegrationWeb/.vs/OktaIntegrationWeb/CopilotIndices
/OktaIntegrationWeb/OktaIntegrationWeb/obj/Debug
/OktaIntegrationWeb/OktaIntegrationWeb/obj
/OktaIntegrationWeb/.vs/OktaIntegrationWeb/v17
/OktaIntegrationWeb/.vs/OktaIntegrationWeb/config
/OktaIntegrationWeb/.vs/OktaIntegrationWeb/FileContentIndex
